/*  WELCOME TO GAMETRO
 *********************/


/***********************************************************************
 *  RESETS AND GENERAL STYLES, VARIABLES
 **********************************************************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Color styles */
:root {
    --yellow: #EFE957;
    --lite-pink: #F9BFF2;
    ---blue: #215EE7;
    ---purple: #A8408B;
    --purple-faded: #a8408baa;
    --eggplant: #532158;
    --deeppurple: #422260;
    --text: #000000;
    --fill: #FFFFFF;
}

/* Text-size styles */
html {
    font-size: 16px;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

.text-large {
    font-size: 1.7rem;
}

.text-accent {
    font-family: "Press Start 2P", sans-serif;
}


/***********************************************************************
 *  NAVIGATION BAR
 **********************************************************************/
/* this approach is taken from https://blog.logrocket.com/create-responsive-mobile-menu-with-css-no-javascript/ but very heavily changed and modified.
We built this menu for mobile-first. It has two anchor tags for a wide screen and two for the mobile version. 
With the media quesies we display ones and hide the others. 
Nav bar also uses checkbox trick instead of JS.  */

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

.header {
    width: 100%;
    background-color: var(--fill);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 80px;
}

.logo {
    display: inline-block;
    color: var(--text);
    font-size: 2rem;
    margin-left: 10px;
    padding: 15px;
}

ul.navigation {
    list-style: none;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.nav-pc {
    display: none;
}

.header ul li a {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    transition: all .2s ease-in-out;
}

.hover-scale:hover {
    /* this class is needed so only side links are scaling */
    transform: scale(1.1);
}

.header ul li a:hover {
    color: var(--eggplant);
}

/* Nav menu */
.nav {
    width: 100%;
    height: 60px;
    /* position: fixed; 
    w/out this you can scroll freely, but look is worse. JS is needed to close with scroll*/
    background-color: var(--fill);
    overflow: hidden;

}

/* Setting of the drop down menu. It was needed to make it shorter and lay items in a row to fit all pages. */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.menu a {
    display: block;
    color: var(--text);
}

.menu a:hover {
    background-color: var(--purple-faded);
}

/* this mobile part is not displayed by delault */
.nav {
    max-height: 0;
    max-width: 100%;
    transition: max-height .5s ease-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: var(--text);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag for hamburger */

.hamb-line::before,
.hamb-line::after {
    background: var(--text);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked~.nav {
    display: block;
    max-height: 150px;

}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* wide screen settings */
@media (min-width: 768px) {

    /* two side buttons are displayed only on a wide screen */
    .nav-pc {
        display: inline-block;
    }

    /*  */
    .nav {
        max-height: none;
        width: 100%;
        top: 0;
        position: relative;
        float: right;
        background-color: transparent;
        display: none;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--fill);

    }

    .hamb {
        display: none;
    }
}


/***********************************************************************
 *  FOOTER
 **********************************************************************/
footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 100px;
    height: 160px;
}

div.footer-flexbox {

    display: flex;
    justify-content: space-around;
    align-items: end;

}

div.footer-flexbox>a:first-child img {
    height: 50px;
}

div.footer-flexbox a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: all .3s ease-out;
    display: inline-block;
}

div.footer-flexbox a:hover {
    color: var(--eggplant);
    transform: scale(1.05);
}

div#footer-socials {
    display: flex;
    align-self: end;
    justify-self: center;
    gap: 20px;
}

div#copyright {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: end;
}

footer h5 {
    text-align: center;
}

/***********************************************************************
 *  INDEX PAGE STYLE and CONTAINER LAYOUTS
 **********************************************************************/

body {
    background-image: url(images/background.png);
    width: 100%;
    /* height: 3360px; */
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: var(--deeppurple);

}

div.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
}

nav,
div.wide-box,
div.half-box,
footer {
    background-color: var(--fill);
}

/* BOXES SETTINGS */
div.wide-box {
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 140px;
    text-align: center;
    /* two next properties work together */
    box-sizing: border-box;
    padding: 30px 100px;
}

div.half-box {
    width: 590px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 140px;
    text-align: center;
    /* two next properties work together */
    box-sizing: border-box;
    padding: 30px 100px;


}

div.half-boxes-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    /* gap and just.-cont.: center allows to wrap well in mobile v. Don't change 1 properties w/out the other */
}

h2+p,
article p {
    margin: 25px 0;
}

.shadow-pc {
    box-shadow: 17px 11px 2px 0px var(---purple);
    /* #236EFFCC; */
}

.shadow-mobile {
    box-shadow: 7px 6px 4px 0px var(---purple);
}

/* BUTTON */
/* Idea for this button is taken from https://www.joshwcomeau.com/animation/3d-button/ 
Nothing is just copied. Everything is studied before implementing*/
.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    /* for those, who navigate with a keyboard */
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    /* make animation hardwareaccelerated */
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    /* so corners are darker */
    background: linear-gradient(to left,
            var(--eggplant) 0%,
            #84358b 8%,
            #84358b 92%,
            var(--eggplant) 100%);
}

.front {
    display: block;
    font-family: 'Press Start 2P', sans-serif;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    /* background: hsl(345deg 100% 47%); */
    background: var(---purple);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
    /* hide the outline when the button is focused and the user is using a pointer device */
}

/***********************************************************************
 *  LANDING IMAGE & all animations
 **********************************************************************/
div.all-screen {
    height: calc(100vh - 80px);
    /* 100% of the screen minus the height of the nav bar */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1#landing--first-row {
    text-align: center;
}

div#pulse-play-button {
    /* this element has exactly the same size as the button and serves as a background (to separate stars) and as an animated object */
    background-color: var(--deeppurple);
    margin-top: 20vh;
    border-radius: 85px;
    width: 400px;
    height: 127px;
    animation: pulse 2s infinite;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

div#pulse-play-button:hover {
    animation: pulse-short .35s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 5px 40px rgba(255, 255, 255, 0);
    }
}

@keyframes pulse-short {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0);
    }
}

img#landing--play-button {
    width: 400px;
    height: 127px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1#landing--first-row {
    display: block;
    color: var(--fill);
    margin-bottom: 30px;
    animation: fadeIn 1s cubic-bezier(1, 0.01, 0.29, 1.56);
}

/* idea for typed text is taken from https://css-tricks.com/snippets/css/typewriter-effect/ */
h4#landing-typed {
    color: var(--fill);
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 550px
    }

    /* change the width if you change the text in HTML */
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--lite-pink);
    }
}

/* GAME ROW BOX
 *********************/
div.box-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
    height: auto;
}

div.box-row-element {
    background-color: var(--eggplant);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    transition: all 0.3s ease-in-out;
}

div.box-row-element:hover {
    transform: scale(1.05);
}

div.box-row-element img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* RANK TABLE SETTINGS
 *********************/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

tr td:nth-child(-n+2) {
    border-right: 1px solid black;
}

.table table tr td,
.table table tr th {
    font-size: 1.7rem;
}

div.game-selector {
    margin: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img#right-arrow {
    transform: rotate(180deg);
}

div.game-selector img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* NEWS API STYLE
 *********************/
div#news {
    max-height: 400px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    /* prop. stops the scroll further once scrolled to the end */
    margin-top: 25px;
}

div#news {
    padding-right: 10px;
    /* space for scroller */
    text-align: start;
}

a.news-article {
    text-decoration: none;
    color: var(--fill);
    font-size: 1.5rem;
    display: block;
    background-color: var(---purple);
    border-radius: 10px;
    padding-left: 10px;
}

div#news a.news-article:hover {
    box-shadow: 7px 6px 4px 0px var(--lite-pink);
}

p.news-source {
    padding: 0 0 10px 20px;
    font-family: 'Press Start 2P', 'PT Sans', cursive;
}

/***********************************************************************
/***********************************************************************
 *  PLAY PAGE STYLES
 **********************************************************************
 **********************************************************************/

div.margin-top

/* to keep first box from the nav bar - add this class*/
    {
    margin-top: 90px;
}

div.play-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* flex-wrap: wrap; */
    gap: 20px;
    margin: 30px 0;
    height: auto;
}

div#gameCanvas {
    width: 400px;
    height: 400px;
    /* background-color: gray; */
}

span#mobileError {
    display: none;
    box-sizing: border-box;
    background-color: var(--eggplant);
    border-radius: 10px;
    color: var(--fill);
    width: 100%;
    height: fit-content;
    padding: 20px;
    font-family: 'Press Start 2P', 'PT Sans', cursive;
    font-size: 1.2rem;

}

/* Replay button */
p#btnReplay {
    cursor: pointer;
    background-color: var(---purple);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--fill);
    font-family: 'Press Start 2P', 'PT Sans', cursive;
    transition: all 0.2s ease-out;
}

p#btnReplay:hover {
    background-color: var(--purple-faded);
    color: var(--text);
}

/* Background and like button */
div#backgroundChange,
div#like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



input[type="color"] {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(---purple);
    padding: 5px;
    margin-bottom: 10px;
}

/* Background and like buttons */
img#fillBtn,
img#likeBtn {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px var(--eggplant);
    transition: all 0.2s ease-out;

}

img#remove-bkg {
    margin-bottom: 10px;
}

input[type="color"],
img#remove-bkg {
    display: none;
    cursor: pointer;
}

img#fillBtn:hover,
img#likeBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 9px 0px 0px var(--eggplant);
}

img#fillBtn:active,
img#likeBtn:active {
    transform: translateY(6px);
    box-shadow: 0px 1px 0px 0px var(--purple-faded);
}

span#like-num {
    font-size: 1.5rem;
    font-family: 'Press Start 2P', 'PT Sans', cursive;
}

/* Live score */
div#gameScoreContainer {
    height: 100px;
    width: 235px;
    background-color: var(---purple);
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    font-size: 1.0rem;
    font-family: 'Press Start 2P', 'PT Sans', cursive;
    color: var(--fill);
}

div#gameScoreContainer span#gameScore {
    background-color: var(--deeppurple);
    box-sizing: border-box;
    font-size: 2rem;
    height: 100%;
    padding: 22.5px 11px;
    border-radius: 10px;
    /* pre set width to fit 3 numbers */
    /* width: 95.29px; */
}

div#gameScoreContainer p#scoreText {
    margin-right: auto;
    margin-left: 10px;
}

.all-rankings-contaner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
    height: auto;
}

div.all-rankings-contaner table {
    max-width: 400px;

}

/* Pop up modal */
div.wb-overlay,
div.welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 50%, 0.509);
    z-index: 1;

}

div.welcome-overlay {
    display: none;
}

div.wb-overlay {
    display: none;
}

div.wb-modal,
div.welcome-modal {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    background-color: var(--eggplant);
    border-radius: 10px;

}

div.wb-modal h3,
div.wb-modal p,
div.welcome-modal h3,
div.welcome-modal p {
    color: var(--fill);
    margin-bottom: 20px;
    text-align: center;
}



/***********************************************************************
/***********************************************************************
 *  CONTACT PAGE STYLES
 **********************************************************************
 **********************************************************************/

/* FORM STYLES
 *********************/
form {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
    height: auto;
}

form label {
    display: block;
    font-family: 'Press Start 2P', 'PT Sans', cursive;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

form input[type="file"] {
    display: none;
    /* We're hiding a file button so label acts like button */
}

label#gameFile-upload {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    cursor: pointer;
    margin-top: 20px;
    /* because of the image inside we used flexbox to center text inside label */
}

form img#upload-image {
    height: 50px;
}

form input[type="text"],
form input[type="email"] {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    color: var(--fill);
    background-color: var(---purple);
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;
}

form input#inputedName {
    margin-bottom: 50px;
}

form textarea {
    min-height: 80px;
    max-height: 500px;
    max-width: 400px;
    min-width: 400px;
    /* to limit from user stretching */
    border-radius: 10px;
    padding: 10px;
    color: var(--fill);
    background-color: var(---purple);
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;

}

form input::placeholder,
form textarea::placeholder {
    /* This pseudo class allows to acces placeholder styling */
    color: var(--fill);
    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;
}

form input[type="submit"] {
    color: var(--fill);
    font-family: 'Press Start 2P', 'PT Sans', cursive;
    cursor: pointer;
}

.formError {
    box-shadow: 0 0 2px 8px var(--lite-pink);
}

.formError::placeholder {
    font-weight: bold;
}

/* CONTACT STYLES
 *********************/
div.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
    height: auto;
}

div.contact-container h4 {
    margin-bottom: 25px;
}

/* POP UP CONFIRMATION
***********************/

.contact-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 50%, 0.509);
    z-index: 1;
}

.contact-modal {
    box-sizing: border-box;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    background-color: var(--eggplant);
    border-radius: 10px;
}

div.contact-modal h3,
div.contact-modal p {
    color: var(--fill);
    margin-bottom: 20px;
}

div.contact-modal p {
    align-self: flex-start;
}

div.welcome-overlay {
    display: none;
}

div.wb-overlay {
    display: none;
}

#nameContactModal,
#emailContactModal,
#descriptionContactModal,
#fileContactModal {
    font-family: "PT Sans", sans-serif;
}

#descriptionContactModal {
    display: inline-block;
}

/***********************************************************************
 *  TABLET RESPONSIVE STYLES
 **********************************************************************/
@media screen and (min-width: 550px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    /* Navigation settings */
    .logo h2 {
        font-size: 2.5rem;
    }

    /* Landing image  */
    div.all-screen h4#landing-typed {
        font-size: 1.2rem;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 300px;
        }
    }

    img#landing--play-button {
        width: 300px;
        height: 100px;
    }

    div#pulse-play-button {
        width: 300px;
        height: 100px;
    }

    /* Boxes settings */
    div.container {
        max-width: 700px;
    }

    .shadow-pc {
        box-shadow: 7px 6px 4px 0px var(---purple);
    }

    div.wide-box {
        margin-bottom: 55px;
        text-align: center;
        padding: 20px 25px;
    }

    div.half-box {
        width: 100%;
        margin-bottom: 55px;
        padding: 20px 25px;
    }


    /* Footer */
    footer {
        height: auto;
    }

    div.footer-flexbox {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    div#footer-socials {
        align-self: center;
        justify-self: center;
        gap: 15px;
    }

    span#mobileError {
        display: inline-block;
    }

    /* Contact */
    div.contact-container {
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Play */
    div.play-container img,
    div#backgroundChange,
    div#like-container,
    div#gameScoreContainer,
    span#mobileError {
        display: none;
    }

    div.play-container {
        justify-content: center;
    }

    div.all-rankings-contaner {
        justify-content: center;
    }

    p#btnReplay {
        display: none;
    }
}

/***********************************************************************
 *  MOBILE RESPONSIVE STYLES
 **********************************************************************/
@media screen and (max-width: 550px) {
    html {
        font-size: 12px;
    }

    /* Navigation settings */
    .logo h2 {
        font-size: 2rem;
    }

    /* Landing image  */
    div.all-screen h4#landing-typed {
        font-size: 1rem;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 250px;
        }
    }

    img#landing--play-button {
        width: 266px;
        height: 85px;
    }

    div#pulse-play-button {
        width: 266px;
        height: 85px;
    }

    /* Boxes settings */
    div.container {
        max-width: 290px;
    }

    .shadow-pc {
        box-shadow: 7px 6px 4px 0px var(---purple);
    }

    div.wide-box {
        margin-bottom: 55px;
        text-align: center;
        padding: 20px 25px;
    }

    div.half-box {
        width: 100%;
        margin-bottom: 55px;
        padding: 20px 25px;


    }

    /* Index page settings */
    div.box-row-element {
        width: 200px;
        height: 200px;
    }

    div.box-row-element img {
        width: 200px;
        height: 200px;
    }

    p.news-source {
        font-size: 1rem;
    }

    /* Footer settings */
    footer {
        padding: 20px 25px;
        /* height: 160px; */
    }

    footer {
        height: auto;
    }

    div.footer-flexbox {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    div#footer-socials {
        align-self: center;
        justify-self: center;
        gap: 15px;
    }

    span#mobileError {
        display: inline-block;
    }

    /* Play page settings */
    div.play-container img,
    div#backgroundChange,
    div#like-container,
    div#gameScoreContainer {
        display: none;
    }



    /* Contact settings */
    form input[type="text"],
    form input[type="email"] {
        width: 240px;
        height: 30px;
        margin-bottom: 15px;
    }

    form input#name {
        margin-bottom: 15px;
    }

    form textarea {
        min-height: 150px;
        min-width: 240px;
        max-width: 240px;
        max-height: 150px;
        margin-bottom: 15px;
    }

    div.contact-container {
        flex-direction: column;
        align-items: center;
    }

    /* Play container page */
    div#gameCanvas {
        width: 240px;
        height: 240px;
    }

    canvas,
    section.game-container {
        visibility: hidden;
    }

    p#btnReplay {
        display: none;
    }

}
